.swiper-pagination{
  text-align: end !important;
}

.swiper-pagination-bullet-active{
  background: #FF681E !important;
}


@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px !important;
  }
}
